Installing Packages

In [1]:
!pip install langchain
!pip install pymysql
!pip install openai==0.28
!pip install mysql-connector-python

Collecting langchain
  Downloading langchain-0.1.11-py3-none-any.whl (807 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 807.5/807.5 kB 7.9 MB/s eta 0:00:00
Requirement already satisfied: PyYAML>=5.3 in /usr/local/lib/python3.10/dist-packages (from langchain) (6.0.1)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.0.28)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /usr/local/lib/python3.10/dist-packages (from langchain) (3.9.3)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (4.0.3)
Collecting dataclasses-json<0.7,>=0.5.7 (from langchain)
  Downloading dataclasses_json-0.6.4-py3-none-any.whl (28 kB)
Collecting jsonpatch<2.0,>=1.33 (from langchain)
  Downloading jsonpatch-1.33-py2.py3-none-any.whl (12 kB)
Collecting langchain-community<0.1,>=0.0.25 (from langchain)
  Downloading langchain_community-0.0.27-py3-none-any.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 13.7 MB/s eta 0:00:00
Collecting langchain-core<0.2,>=0.1.29 (from langchain)
  Downloading langchain_core-0.1.30-py3-none-any.whl (256 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 256.9/256.9 kB 12.1 MB/s eta 0:00:00
Collecting langchain-text-splitters<0.1,>=0.0.1 (from langchain)
  Downloading langchain_text_splitters-0.0.1-py3-none-any.whl (21 kB)
Collecting langsmith<0.2.0,>=0.1.17 (from langchain)
  Downloading langsmith-0.1.23-py3-none-any.whl (66 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.6/66.6 kB 7.7 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.25.2)
Requirement already satisfied: pydantic<3,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.6.3)
Requirement already satisfied: requests<3,>=2 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.31.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (8.2.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.9.4)
Collecting marshmallow<4.0.0,>=3.18.0 (from dataclasses-json<0.7,>=0.5.7->langchain)
  Downloading marshmallow-3.21.1-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 6.0 MB/s eta 0:00:00
Collecting typing-inspect<1,>=0.4.0 (from dataclasses-json<0.7,>=0.5.7->langchain)
  Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Collecting jsonpointer>=1.9 (from jsonpatch<2.0,>=1.33->langchain)
  Downloading jsonpointer-2.4-py2.py3-none-any.whl (7.8 kB)
Requirement already satisfied: anyio<5,>=3 in /usr/local/lib/python3.10/dist-packages (from langchain-core<0.2,>=0.1.29->langchain) (3.7.1)
Requirement already satisfied: packaging<24.0,>=23.2 in /usr/local/lib/python3.10/dist-packages (from langchain-core<0.2,>=0.1.29->langchain) (23.2)
Collecting orjson<4.0.0,>=3.9.14 (from langsmith<0.2.0,>=0.1.17->langchain)
  Downloading orjson-3.9.15-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (138 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 138.5/138.5 kB 14.6 MB/s eta 0:00:00
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1->langchain) (0.6.0)
Requirement already satisfied: pydantic-core==2.16.3 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1->langchain) (2.16.3)
Requirement already satisfied: typing-extensions>=4.6.1 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1->langchain) (4.10.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (2024.2.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy<3,>=1.4->langchain) (3.0.3)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3->langchain-core<0.2,>=0.1.29->langchain) (1.3.1)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3->langchain-core<0.2,>=0.1.29->langchain) (1.2.0)
Collecting mypy-extensions>=0.3.0 (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Installing collected packages: orjson, mypy-extensions, marshmallow, jsonpointer, typing-inspect, jsonpatch, langsmith, dataclasses-json, langchain-core, langchain-text-splitters, langchain-community, langchain
Successfully installed dataclasses-json-0.6.4 jsonpatch-1.33 jsonpointer-2.4 langchain-0.1.11 langchain-community-0.0.27 langchain-core-0.1.30 langchain-text-splitters-0.0.1 langsmith-0.1.23 marshmallow-3.21.1 mypy-extensions-1.0.0 orjson-3.9.15 typing-inspect-0.9.0
Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.6 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Collecting openai==0.28
  Downloading openai-0.28.0-py3-none-any.whl (76 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.5/76.5 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai==0.28) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai==0.28) (4.66.2)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai==0.28) (3.9.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai==0.28) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai==0.28) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai==0.28) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai==0.28) (2024.2.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai==0.28) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai==0.28) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai==0.28) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai==0.28) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai==0.28) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai==0.28) (4.0.3)
Installing collected packages: openai
Successfully installed openai-0.28.0

In [ ]:
from langchain.chat_models import ChatOpenAI
from langchain.embeddings.openai import OpenAIEmbeddings
import re
import pandas as pd
from sqlalchemy import create_engine

SETTING SQL IN BACKGROUND

In [13]:
import mysql.connector as mysql
myconn = mysql.connect(host='sql6.freesqldatabase.com',database='sql6690123', user='sql6690123', password='zRdA1keUjF')

In [54]:
import mysql.connector

def execute_sql_query(host, user, password, database, schema_file, sql_query):
    # Connect to the MySQL database
    conn = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    # Create a cursor object
    cursor = conn.cursor()

    # Load the schema
    with open(schema_file, 'r') as f:
        schema_sql = f.read()

    # Execute the schema SQL
    #cursor.execute(schema_sql)

    # Execute the provided SQL query
    cursor.execute(sql_query)

    # Get the result
    result = cursor.fetchall()

    # Close the cursor and connection
    cursor.close()
    conn.close()

    return result

if __name__ == "__main__":
    # Database connection details
    host = "sql6.freesqldatabase.com"
    user = "sql6690123"
    password = "zRdA1keUjF"
    database = "sql6690123"

    # Schema file path
    schema_file = "/content/schema.sql"

    # SQL query
    sql_query = '''SELECT *FROM  head'''

    # Execute the SQL query and get the result
    result = execute_sql_query(host, user, password, database, schema_file, sql_query)

    # Print the result
    for row in result:
        print(row)

(1, 'Tiger Woods', 'Alabama', 67.0)
(2, 'Sergio García', 'California', 68.0)
(3, 'K. J. Choi', 'Alabama', 69.0)
(4, 'Dudley Hart', 'California', 52.0)
(5, 'Jeff Maggert', 'Delaware', 53.0)
(6, 'Billy Mayfair', 'California', 69.0)
(7, 'Stewart Cink', 'Florida', 50.0)
(8, 'Nick Faldo', 'California', 56.0)
(9, 'Pádraig Harrington', 'Connecticut', 43.0)
(10, 'Franklin Langham', 'Connecticut', 67.0)

Evaluation Function

In [48]:


LIKE_PATTERN = r"LIKE[\s\S]*'"

def escape_percent(match):
    group = match.group(0)
    escaped_group = group.replace("%", "%%")
    return escaped_group

def query_mysql_db(query, db_name, db_creds, timeout=10.0):
    try:
        db_url = f"mysql+pymysql://{db_creds['user']}:{db_creds['password']}@{db_creds['host']}:{db_creds['port']}/{db_name}"
        engine = create_engine(db_url)
        escaped_query = re.sub(LIKE_PATTERN, escape_percent, query, flags=re.IGNORECASE)
        results_df = pd.read_sql_query(escaped_query, engine, timeout=timeout)
        engine.dispose()
        return results_df
    except Exception as e:
        if engine:
            engine.dispose()
        raise e

def compare_df(df_gold, df_gen, question):

    df_gold = pd.DataFrame(df_gold)
    df_gen = pd.DataFrame(df_gen)
    df_gold = df_gold.drop_duplicates().sort_values(by=list(df_gold.columns)).reset_index(drop=True)
    df_gen = df_gen.drop_duplicates().sort_values(by=list(df_gen.columns)).reset_index(drop=True)

    if df_gold.equals(df_gen):
        return True
    else:
        return False


def evaluate_sql_generation1(textual_query, context_data, expected_sql_query):
    generated_sql_query = sql_generation(textual_query, context_data, expected_sql_query)

    try:
        results_gen  = execute_sql_query(host, user, password, database, schema_file, generated_sql_query)
        # Print the result
        for row in results_gen:
          print(row)
        results_gold = execute_sql_query(host, user, password, database, schema_file, expected_sql_query)
        for row in results_gold:
          print(row)

        if compare_df(results_gold, results_gen, textual_query):
            return f"Generated SQL Query: {generated_sql_query}\nCorrect!"
        else:
            return f"Generated SQL Query: {generated_sql_query}\nIncorrect. Expected: {expected_sql_query}"
    except Exception as e:
        return f"Error executing query: {e}"

Main

In [76]:
import openai

# Set up your OpenAI API key
openai.api_key = "sk-"

In [74]:


def sql_generation(textual_query, context_data, expected_sql_query):
    """
    Evaluate the LLM for SQL query generation.

    Args:
        textual_query (str): The natural language question or query.
        context_data (str): The SQL schema or table definitions.
        expected_sql_query (str): The expected SQL query.

    Returns:
        str: The generated SQL query and its correctness.
    """
    prompt = f"""
    ### Task
    Generate a SQL query to answer the following question:
    {textual_query}

    ### Database Schema
    The query will run on a database with the following schema:
    {context_data}

    ### Instructions
    {instructions}



    {k_shot_prompt}

    ### Answer
    ```sql
    Natural Language Query: {textual_query}

    Context Data (SQL Schema):
    {context_data}

    Instructions: Dont use JOIN in generated queries. Here are some examples of concise SQL queries:

    Example 1: SELECT name, age FROM users WHERE age > 30
    Example 2: SELECT COUNT(*) FROM orders WHERE status = 'completed'
    Example 3: SELECT creation, name, budget_in_billions FROM department

    Generated SQL Query:
    """
    response = openai.Completion.create(
        engine="gpt-3.5-turbo-instruct",
        prompt=prompt,
        max_tokens=600,
        n=1,
        stop=None,
        temperature=0,
        seed=42
    )


    generated_sql_query = response.choices[0].text.strip()


    return generated_sql_query


# Example usage
textual_query = "List the creation year, name and budget of each department."
instructions="dion't use inner join in queries"
k_shot_prompt="Example 1: SELECT name, age FROM users WHERE age > 30\nExample 2: SELECT COUNT(*) FROM orders WHERE status = 'completed'\nExample 3: SELECT creation ,  name ,  budget_in_billions FROM department"
context_data = """
-- Enable foreign key constraints
SET foreign_key_checks = 1;

-- Begin transaction
START TRANSACTION;

-- Create department table
CREATE TABLE IF NOT EXISTS department (
    Department_ID int,
    Name text,
    Creation text,
    Ranking int,
    Budget_in_Billions real,
    Num_Employees real,
    PRIMARY KEY (Department_ID)
);

-- Insert data into department table
INSERT INTO department VALUES
(1,'State','1789',1,9.96,30265.99),
(2,'Treasury','1789',2,11.1,115896.99),
(3,'Defense','1947',3,439.3,3000000.0),
(4,'Justice','1870',4,23.4,112556.99),
(5,'Interior','1849',5,10.7,71436.0),
(6,'Agriculture','1889',6,77.6,109831.99),
(7,'Commerce','1903',7,6.2,36000.0),
(8,'Labor','1913',8,59.7,17346.99),
(9,'Health and Human Services','1953',9,543.2,67000.0),
(10,'Housing and Urban Development','1965',10,46.2,10600.0),
(11,'Transportation','1966',11,58.0,58622.0),
(12,'Energy','1977',12,21.5,116100.0),
(13,'Education','1979',13,62.8,4487.0),
(14,'Veterans Affairs','1989',14,73.2,235000.0),
(15,'Homeland Security','2002',15,44.6,208000.0);

-- Create head table
CREATE TABLE IF NOT EXISTS head (
    head_ID int,
    name text,
    born_state text,
    age real,
    PRIMARY KEY (head_ID)
);

-- Insert data into head table
INSERT INTO head VALUES
(1,'Tiger Woods','Alabama',67),
(2,'Sergio García','California',68),
(3,'K. J. Choi','Alabama',69),
(4,'Dudley Hart','California',52),
(5,'Jeff Maggert','Delaware',53),
(6,'Billy Mayfair','California',69),
(7,'Stewart Cink','Florida',50),
(8,'Nick Faldo','California',56),
(9,'Pádraig Harrington','Connecticut',43),
(10,'Franklin Langham','Connecticut',67);

-- Create management table
CREATE TABLE IF NOT EXISTS management (
    department_ID int,
    head_ID int,
    temporary_acting text,
    PRIMARY KEY (department_ID, head_ID),
    FOREIGN KEY (department_ID) REFERENCES department(Department_ID),
    FOREIGN KEY (head_ID) REFERENCES head(head_ID)
);

-- Insert data into management table
INSERT INTO management VALUES
(2,5,'Yes'),
(15,4,'Yes'),
(2,6,'Yes'),
(7,3,'No'),
(11,10,'No');

-- Commit transaction
COMMIT;


"""
expected_sql_query = "SELECT creation ,  name ,  budget_in_billions FROM department"

In [75]:
result = evaluate_sql_generation1(textual_query, context_data, expected_sql_query)
print(result)

('1789', 'State', 9.96)
('1789', 'Treasury', 11.1)
('1947', 'Defense', 439.3)
('1870', 'Justice', 23.4)
('1849', 'Interior', 10.7)
('1889', 'Agriculture', 77.6)
('1903', 'Commerce', 6.2)
('1913', 'Labor', 59.7)
('1953', 'Health and Human Services', 543.2)
('1965', 'Housing and Urban Development', 46.2)
('1966', 'Transportation', 58.0)
('1977', 'Energy', 21.5)
('1979', 'Education', 62.8)
('1989', 'Veterans Affairs', 73.2)
('2002', 'Homeland Security', 44.6)
('1789', 'State', 9.96)
('1789', 'Treasury', 11.1)
('1947', 'Defense', 439.3)
('1870', 'Justice', 23.4)
('1849', 'Interior', 10.7)
('1889', 'Agriculture', 77.6)
('1903', 'Commerce', 6.2)
('1913', 'Labor', 59.7)
('1953', 'Health and Human Services', 543.2)
('1965', 'Housing and Urban Development', 46.2)
('1966', 'Transportation', 58.0)
('1977', 'Energy', 21.5)
('1979', 'Education', 62.8)
('1989', 'Veterans Affairs', 73.2)
('2002', 'Homeland Security', 44.6)
Generated SQL Query: SELECT Creation, Name, Budget_in_Billions FROM department
Correct!